
    *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:poppins;
    background-image: url("/images/bg-green.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center; 
    
}
.container{
    position: relative;
    max-width:30%;
    width:100%;
    background-color: white;
    padding:50px;
    border-radius: 10px;


}
.container h1{
    font-size: 25px;
    font-weight:bold;
    color:black;
    text-align: center;

}
.container form{
    margin-top: 30px;
}
form .input-field,  form button{
    position:relative;
    height:55px;
    width:100%;
   

}
.input-field input{
    height:100%;
    width:100%;
    outline:none;
    border:1px solid #d1d1d1;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 16px;
}




.form-field{
    margin-bottom:20px;
}
form button{
    color:white;
    background-color: green;
    border:none;
    border-radius:8px;
   
    font-size:18px;
}
button:hover{
    background-color:  hsl(154, 59%, 51%);
}
form .gender{
    padding-top: 20px;
    display:flex;
}
form .gendermale{
    margin-right:30px;
}
.b-line{
font-size: 16px;
line-height: 2rem;
text-align: center;
font-weight: 300;
}
.b-line span{
    color:green;
    font-weight: 500;
}